<div id="sidebar">
    <div class="list-group panel">

        <a routerLink="/" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-search"></i> <span class="">Home</span></a>
        <a routerLink="/parking-search" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-user-circle-o"></i> <span class="">Payment Search</span></a>
        <a routerLink="/map" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-user-circle-o"></i> <span class="">Map</span></a>

    </div>
</div>
