<h1>
  Parking Payments
</h1>


  <ul class="list-group">
  <li *ngFor="let m of payments; let i = index" class="list-group-item justify-content-between">
    Parking Spot {{i+1}}
    <span class="badge badge-default badge-pill">Hours {{m.duration}}</span>
  </li>
</ul>
