

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="card" style="width: 100%">
  <div class="card-img-top">
  <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]=18>

        <agm-marker
            *ngFor="let m of spots; let i = index"
            [latitude]="m.Lat"
            [longitude]="m.Long"
            [label]="m.name">

        </agm-marker>
        <agm-circle [latitude]="location.latitude " [longitude]="location.longitude"
            [radius]="50"
            [fillColor]="'red'"
            [circleDraggable]="false"
            [editable]="false">
        </agm-circle>
  </agm-map>
</div>
  <div class="card-block">
    <h4 class="card-title">Parking Zones in the area</h4>
    </div>
  <ul class="list-group list-group-flush">
      <button (click)="gotoDetail(m)" *ngFor="let m of spots; let i = index" type="button" class="justify-content-between list-group-item list-group-item-action">{{m.name}}   <span class="badge badge-default badge-pill">{{m.Bays}}</span>   {{m.Street}} {{m.Suburb}}</button>

  </ul>
