<div class="container-fluid col-lg-4 col-lg-offset-4">
    <h1>Payment</h1><br>
    <form>

        <div class="form-group">
            <label for="rate">Rate:</label><label for="rate">{{parkingZone.Rate}}</label>
        </div>

        <div class="form-group">
            <label for="sel1">Duration (Hours):</label>
            <select [(ngModel)]="payment.duration" name="payment" class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Payment Confirmed&hellip;</p>
            Hours: {{payment.duration}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>


        <button class="btn btn-success" (click)="open(content)">Save</button>
    </form>
</div>
