<main>
  <!--
  <div class="container-fluid col-lg-4 col-lg-offset-4">
  <ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
  <a  class="nav-link" [routerLinkActive]="['active']" routerLink="/map">Map</a>
</li>
<li class="nav-item">
  <a  class="nav-link" [routerLinkActive]="['active']" routerLink="/parking-search">Search</a>
</li>
<li class="nav-item">
  <a  class="nav-link" [routerLinkActive]="['active']" routerLink="/parking-payment">Payment</a>
</li>
</ul>
-->

<div class='wrapper'>
<div class='sidebar'>

<ul class='nav'>
    <app-sidebar></app-sidebar>
</ul>
</div>
<div class='content container-fluid' [ngClass]=" { 'isOpen': openSidebar} ">
  <button class="btn-primary" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" (click)="ToggleSideBar() ">
      <span class="navbar-toggler-icon"> < </span>
    </button>
      <!--<app-header></app-header>-->
      <router-outlet></router-outlet>
  </div>
</div>
</main>
